*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Cinzel', serif;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.header {
    background-color: rgb(99, 167, 231);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
}
.flex-text {
    display: flex;
    flex-direction: column;
}
.header-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #f8f8f5;
}
.header-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #575753f6;
}
.main {
    background-color: rgb(99, 167, 231);
    padding-bottom: 20px;
}
.main-container {
    background-color: white;
    border-radius: 20px;
    width: 800px;
    margin: 0 auto;
    text-align: center;

}
section {
    margin-bottom: 10px;
}
.category {
    
}
.title {
    display: flex;
    align-items: center;
}
.name-category {
    margin: 0 0 5px 20px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.line {
 width: 100%;
 padding-right: 25px;
}
.category-description {
    margin: 0 0 0 120px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}