*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Cinzel', serif;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.header {
    background-color: rgb(99, 167, 231);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 15px 1px black;
    margin-top : 5px;
}
.flex-text {
    display: flex;
    flex-direction: column;
}
.header-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #f8f8f5;
}
.header-subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #575753f6;
}
.main {
    background-color: rgb(99, 167, 231);
    padding: 15px 0;
    box-shadow: 0 0 15px 1px black;
}
.main-container {
    background-color: white;
    border-radius: 20px;
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 15px 1px black;

}
section {
    margin-bottom: 10px;
}
.category {
    
}
.title {
    display: flex;
    align-items: center;
}
.name-category {
    margin: 0 0 5px 20px;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}
.line {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}
.category-description {
    margin: 0 0 0 160px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

li {
    list-style-position:inside;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}
ul {
    padding: 0;
}
pre {
    text-align: left;
    margin-left: 160px;
}
.footer {
    background-color: rgb(99, 167, 231);
    padding: 20px 200px;
    box-shadow: 0 0 15px 1px black;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.year {
    font-weight: 500;
    font-size: 24px;
    color: #575753f6;
}